#reg-container #reg-wrap{
    height: auto;
    width: 50%;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* background-color: rgb(255, 255, 255); */
}
#reg-container #reg-wrap h3{
   font-size: 18px;
}
#reg-container #reg-wrap label{
    font-weight: 400;
}

#reg-container #reg-wrap button{
    width: 100%;
    font-weight: 700;
    margin: 8px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width:920px) and (min-width:200px) {
    #reg-container{
        padding: 20px 0;
    }
    #reg-container #reg-wrap{
        width: 100%;
    }
}